@import "../../sass/screen_widths.scss";

.items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 2rem;

  margin-bottom: 1rem;

  @media screen and (min-width: $medium) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.item {
  text-align: center;
  overflow: hidden;
  flex: 1;

  @media screen and (min-width: $medium) {
    + .item {
      margin-left: 2rem;
    }
  }
}
