@import "../../sass/screen_widths.scss";
@import "../../sass/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 4;

  @media screen and (min-width: $medium) {
    grid-column: 1 / 3;
    flex-direction: row;
  }

  &.flip {
    @media screen and (min-width: $medium) {
      grid-column: 2 / 4;
      flex-direction: row-reverse;
    }
  }
}

.image {
  flex: 1;

  &.canHide {
    flex: unset;
    display: none;
  }

  @media screen and (min-width: $medium) {
    display: block;
    flex: unset;
    width: 60%;

    &.canHide {
      display: block;
    }
  }
}

.content {
  flex: 1;
  max-width: 600px;
  margin-bottom: 5%;
  padding: 0 1rem;

  @media screen and (min-width: $medium) {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 0;
  }
}

.flip .content {
  @media screen and (min-width: $medium) {
    margin-left: 0;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 0;
  }
}

.title {
  font-size: 2rem;
  margin-bottom: 0.25rem;
}

.underline {
  height: 2px;
  width: 0;
  transition: width 500ms ease-in-out;
  background: $body;
  @media (prefers-color-scheme: dark) {
    background: $dark-body;
  }

  &.show {
    width: 10rem;
  }
}

.children {
  opacity: 0;
  transform: translateY(-15px);
  transition: all 400ms ease-in-out;

  &.show {
    opacity: 1;
    transform: translateY(0px);
  }
}
