@import "../../sass/screen_widths.scss";
@import "../../sass/colors.scss";

.container {
  $logo-width: 6rem;
  $logo-width-large: 8rem;
  $logo-padding: 0.25rem;

  display: flex;
  flex-direction: row;
  padding: 0 1rem;

  grid-column: 1 / 4;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: $background;
  box-shadow: 0px 3px 3px 0px $background;
  z-index: 10;

  @media (prefers-color-scheme: dark) {
    background: $dark-background;
    box-shadow: 0px 3px 3px 0px $dark-background;
  }

  @supports (backdrop-filter: blur(10px)) or
    (-webkit-backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0.9;
    box-shadow: none;
  }

  @media screen and (min-width: $large) {
    padding: 0 3rem;
  }

  .logo {
    margin: 1rem 0;
    width: $logo-width;
    padding: $logo-padding;
    border-radius: 4px;

    @media (prefers-color-scheme: dark) {
      filter: invert(1);
    }

    @media screen and (min-width: $large) {
      width: $logo-width-large;
    }
  }

  .navigation {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    max-width: 1920px;
    margin-top: 0.5rem;
    font-size: 20px;
    width: 80vw;

    @media screen and (min-width: $small) {
      width: 60vw;
    }

    a,
    a:active {
      text-decoration: none;
      color: $body;
      margin: 0 0.5rem;

      @media (prefers-color-scheme: dark) {
        color: $dark-body;
      }
    }

    .phoneText {
      display: none;

      @media screen and (min-width: $medium) {
        display: block;
      }
    }

    .emailText {
      display: none;

      @media screen and (min-width: $medium) {
        display: block;
      }
    }

    .phoneIcon {
      display: block;

      @media screen and (min-width: $medium) {
        display: none;
      }
    }

    .emailIcon {
      display: block;

      @media screen and (min-width: $medium) {
        display: none;
      }
    }
  }
}
